.selectWrapper {
  position: absolute;
  padding: 5px 0;
  max-height: 23px;
  width: auto;
  min-width: 135px;
  max-width: 150px;
  overflow: hidden;
  transition: .3s max-height ease-in-out;
  &.open {
    max-height: 600px;
  }
  .select {
    display: flex;
    flex-direction: column;
    min-width: 110px;
    .selectTrigger {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      width: 100%;
      background: transparent;
      cursor: pointer;
      .selectedValue {
        margin-right: 9px;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        color: #252525;
      }
      .arrow {
        margin-top: 1px;
        height: 6px;
        width: 10px;
        transition: .3s transform ease-in-out;
        &.open {
          transform: rotate(180deg);
        }
      }
    }
    .customOptions {
      padding-right: 10px;
      width: 100%;
      min-width: 98px;
      max-height: 200px;
      overflow: auto;
      background-color: #FFFFFF;
      .customOption {
        display: block;
        padding: 3px 0;
        text-align: left;
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        color: #252525;
        &:not(:last-child) {
          border-bottom: 1px solid #E0BEA2;
        }
        &:hover {
          cursor: pointer;
          background-color: #b2b2b2;
        }
        &.active {
          color: #E0BEA2;
        }
      }
    }
  }
}