.footer {
  padding-top: 100px;
  padding-bottom: 74px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 784px) {
    max-width: 700px;
    padding-bottom: 40px;
  }
  @media (max-width: 480px) {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .footerText {
    display: block;
    font-size: 16px;
    font-weight: 200;
    line-height: 19px;
    color: #252525;
  }
  .footerBlock {
    transition: max-height .7s ease;
    &:not(:last-child) {
      margin-right: 40px;
      @media (max-width: 480px) {
        border-bottom: 0.3px solid #252525;
      }
    }
    @media (max-width: 784px) {
      margin-bottom: 30px;
      &:not(:nth-last-child(n-1)) {
        margin-right: 0;
      }
    }
    @media (max-width: 480px) {
      position: relative;
      padding-top: 20px;
      padding-bottom: 5px;
      margin-bottom: 0;
      width: 100%;
      max-height: 50px;
      text-align: center;
      overflow: hidden;
      &.opened {
        max-height: 500px;
      }
    }
    .titleContainer {
      display: block;
      margin-bottom: 20px;
      @media (max-width: 480px) {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .title {
        text-transform: uppercase;
        color: #252525;
      }
      .arrow {
        display: none;
        transition: transform .3s ease;
        @media (max-width: 480px) {
          position: absolute;
          right: 14px;
          display: inline;
          justify-self: flex-end;
          &.opened {
            transform: rotate(180deg);
          }
        }
      }
    }
    .footerListItem:not(:last-child) {
      margin-bottom: 10px;
    }
    .socialMedias {
      display: flex;
      margin-bottom: 11px;
      .icon:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .full {
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 500px;
    }
  }
}