.home {
  .main {
    .homeTitle {
      margin-bottom: 50px;
      font-weight: 300;
      font-size: 36px;
      line-height: 42px;
      color: #252525;
    }
    .promo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: -96px auto 100px;
      height: 900px;
      max-width: 1440px;
      background: transparent url('../../assets/images/background-main.jpg') no-repeat center center / cover;
      @media (max-width: 550px) {
        margin-top: -73px;
      }
      .title {
        margin-bottom: 20px;
        color: #FFFFFF;
      }
      .line {
        margin-bottom: 20px;
        width: 120px;
        height: 1px;
        background-color: #FFFFFF;
      }
      .link {
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
        color: #FFFFFF;
        text-transform: uppercase;
      }
    }
    .categories {
      .title {
        margin-bottom: 50px;
      }
    }
  }
}